div.three{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
div.cardd{
	width: 32%;
}

div.cardd img.img{
	width: 100%;

}

h3.title{
	font-weight: bold;
	padding-left: 16px;
	font-size: 20px;
}
p.text-subtitle{
	padding: 16px;
}
div.all-text{
	background-color: #EAEAEA;
}
