div.three{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
div.cardd{
	width: 32%;
}
div.cardd img.img{
	width: 100%;
}
p.text-subtitle{
	padding: 0 24px 24px 24px;
}
div.all-text{
	background-color: #EAEAEA;
}