.raz {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 70%;
  width: 30%;
  visibility: hidden;
  height: 100%;
}
h3.title-collapse, h3.title-two-block{
	font-weight: bold;
	font-size: 22px;
}
a.collapsed{
	font-size: 18px;
	font-weight: 400;
	color: #000000;
}
.blocks-none{
	display: none;
}
.sticky {
  position: sticky;
  top: 0;
  min-height: 2em;
  visibility: visible;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.content-fluids{
	width: 69.3%;
}
.rows{
	width: 100%;
}
.block-two-img{
	width: 49.5%;
}
.col-block{
	width: 100%;
	margin-bottom: 20px;
}
.col-block img.img-col{
	width: 100%;
}

.title-two-block, .subtitle-two-block{
	width: 100%;
	padding: 24px;
	padding-left: 0;
}
.title-collapse, .subtitle-collapse{
	padding: 20px;
	padding-top: 0;
}
@media screen and (max-width: 768px){
	.content-fluids{
	width: 50%;
}
.rows{
	display: block;
}
.block-two-img{
	width: 100%;
	margin-top: 10px;
}
.block-two-img img.img-col{
	width: 100%;
}
.block-two-text{
	width: 100%;
}
.absolute {
  left: 50%;
  width: 50%;
}
}
@media screen and (max-width: 585px){
	.content-fluids{
	width: 100%;
}
.absolute {
  display: none;
}
.blocks-none{
	display: block;
}

}