h3.title{
	font-weight: bold;
	max-width: 55%;
	margin-top: 50px;
}
p{
	font-weight: 400;
}
p.text-title{
	max-width: 60%;
	margin: 30px 0 30px 0;
}
div.all-content{
	width: 100%;
}
div.all-content img.img{
	width: 100%;
}
h5.rules{
	margin: 40px 0 20px 0;
	font-weight: bold;
}
h5.we{
	font-weight: bold;
	margin: 0 0 40px 0;
	color: #555;
}
ul.uli{
	margin-left: 40px;
	max-width: 55%;
}
li.ili{
	color: #666;
	font-weight: 400;
	margin-bottom: 20px;
}
div.d{
	margin-bottom: 50px;
}
h6.title{
	font-weight: bold;
	margin-top: 90px;
}
p.subtitle{
	max-width: 60%;
	font-weight: 400;
	margin-top: 30px;
	color: #444;
}
h4.title{
	font-weight: bold;
	margin-bottom: 80px;
}

div.all-href{
	max-width: 60%;
	color: black;
}
p.text-href{
	font-weight: bold;	
}
a.href{
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: black;
}
a.href:hover{
	color: black;
	text-decoration: underline;
}
footer{
	margin-top: 50px;
}

@media screen and (max-width: 990px){

	h3.title{
		max-width: 100%;
	}
	p.text-title{
		max-width: 100%;
	}
	ul.uli{
		max-width: 100%;
	}
	p.subtitle{
		max-width: 100%;
	}
	div.all-href{
		max-width: 100%;
	}

}