{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/3.css' %}">
    </head>
<div class="wrapper">


<div class="all-content">
    <div class="row">

        <div class="cardd col-md-4 col-sm-6 col-12">
            <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
            <div class="all-text">
                <div class="title">
                    <h3 class="title">ИКЕА. Дома всегда праздник.</h3>
                </div>
                <p class="text-subtitle">Новый год – один из самых любимых праздников! А в этом году как никогда хочется ускорить его наступление: нарядить елку, купить подарки и в атмосфере тепла и спокойствия встретить этот праздник с родными и близкими.</p>
            </div>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
            <div class="all-text">
                <div class="title">
                    <h3 class="title">ИКЕА. Дома всегда праздник.</h3>
                </div>
                <p class="text-subtitle">Новый год – один из самых любимых праздников! А в этом году как никогда хочется ускорить его наступление: нарядить елку, купить подарки и в атмосфере тепла и спокойствия встретить этот праздник с родными и близкими.</p>
            </div>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
            <div class="all-text">
                <div class="title">
                    <h3 class="title">ИКЕА. Дома всегда праздник.</h3>
                </div>
                <p class="text-subtitle">Новый год – один из самых любимых праздников! А в этом году как никогда хочется ускорить его наступление: нарядить елку, купить подарки и в атмосфере тепла и спокойствия встретить этот праздник с родными и близкими.</p>
            </div>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
            <div class="all-text">
                <div class="title">
                    <h3 class="title">ИКЕА. Дома всегда праздник.</h3>
                </div>
                <p class="text-subtitle">Новый год – один из самых любимых праздников! А в этом году как никогда хочется ускорить его наступление: нарядить елку, купить подарки и в атмосфере тепла и спокойствия встретить этот праздник с родными и близкими.</p>
            </div>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
            <div class="all-text">
                <div class="title">
                    <h3 class="title">ИКЕА. Дома всегда праздник.</h3>
                </div>
                <p class="text-subtitle">Новый год – один из самых любимых праздников! А в этом году как никогда хочется ускорить его наступление: нарядить елку, купить подарки и в атмосфере тепла и спокойствия встретить этот праздник с родными и близкими.</p>
            </div>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
            <div class="all-text">
                <div class="title">
                    <h3 class="title">ИКЕА. Дома всегда праздник.</h3>
                </div>
                <p class="text-subtitle">Новый год – один из самых любимых праздников! А в этом году как никогда хочется ускорить его наступление: нарядить елку, купить подарки и в атмосфере тепла и спокойствия встретить этот праздник с родными и близкими.</p>
            </div>
        </div>
    </div>
</div>

</div>

{%endblock%}