{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/detail_five.css' %}">
    </head>
<div class="wrapper">

<h3 class="title">textssss textsss testd tests tesssssssst</h3>
        <p class="sub-title-5">В нарядно украшенном доме праздничное настроение появляется само собой. Так что не отказывайте себе в мишуре, елочных шарах и звездах. Пусть все сразу поймут, что праздник уже настал. В таком интерьере встречи с родными и близкими обычно проходят гораздо веселее.</p>
        <div class="all-content">
            <div class="img-block">
                <img src="https://www.ikea.com/ext/ingkadam/m/7cfe48ad38985f06/original/PH173981-crop002.jpg?f=m" alt="" class="img">
            </div>
            
            <div class="img-four-block">
                <div class="two-block">
                    <div class="block-main-1">
                        <div class="block-1">
                            <img src="https://www.ikea.com/ext/ingkadam/m/170468010f6ef611/original/PH174126-crop001.jpg?f=xxs" alt="" class="omg-1">
                        </div>
                        <div class="block-2">
                            <img src="https://www.ikea.com/ext/ingkadam/m/70d0a6a820c88c28/original/PH173909.jpg?f=xxs" alt="" class="omg-2">
                        </div>
                    </div>
                    <div class="block-main-2">
                        <div class="block-3">
                            <img src="https://www.ikea.com/ext/ingkadam/m/b5c1447d93eeb28/original/PH175079.jpg?f=xxs" alt="" class="omg-3">
                        </div>
                        <div class="block-4">
                            <img src="https://www.ikea.com/ext/ingkadam/m/ea66d173a611db4/original/PH174059-crop001.jpg?f=xxs" alt="" class="omg-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="wrappersssss">

<!-- BLOCK -->
<div class="pub__carousel-slide ifp6bjs">
  <div data-pub-child-placeholder="" class="">
    <div class="range-revamp-product-compact" data-ref-id="50458001" data-product-number="50458001" data-product-type="ART" data-price="149" data-currency="RUB" data-product-name="BERGENES БЕРГЕНЕС" data-product-compact="" data-cs-capture="">

  <a href="TEST" aria-label="BERGENES БЕРГЕНЕС - Подставка для смартфона/планшета">

    <div class="range-revamp-product-compact__image-wrapper">
      <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square">
        <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="BERGENES БЕРГЕНЕС Подставка для смартфона/планшета, бамбук" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="h.jpg"  data-src="false" data-src-set="false"></div><!-- HERE -->

        <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square range-revamp-product-compact__image-hover range-revamp-product-compact__image-hover--active">
          <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="https://rostproject.com/files/kns2.jpg"><!-- HERE -->
        </div>
      </div>
    </a>


    <div class="range-revamp-product-compact__bottom-wrapper">
      <a href="#">
        <div class="range-revamp-compact-price-package">
          <div class="range-revamp-compact-price-package__additional-info">
            <div class="range-revamp-header-section">
              <div class="range-revamp-header-section__title--small">BERGENES БЕРГЕНЕС</div>
              <div class="range-revamp-header-section__description">
                <span class="range-revamp-header-section__description-text">Подставка для смартфона/планшетаLorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum doloribus, corrupti nisi distinctio in. Blanditiis totam, debitis atque aliquam.</span>
              </div>
            </div>
          </div>


        </div>
      </a>

    </div>
  </div>
</div>
</div>


<!-- BLOCK -->

  
<!-- BLOCK -->
<div class="pub__carousel-slide ifp6bjs">
  <div data-pub-child-placeholder="" class="">
    <div class="range-revamp-product-compact" data-ref-id="50458001" data-product-number="50458001" data-product-type="ART" data-price="149" data-currency="RUB" data-product-name="BERGENES БЕРГЕНЕС" data-product-compact="" data-cs-capture="">

  <a href="TEST" aria-label="BERGENES БЕРГЕНЕС - Подставка для смартфона/планшета">

    <div class="range-revamp-product-compact__image-wrapper">
      <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square">
        <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="BERGENES БЕРГЕНЕС Подставка для смартфона/планшета, бамбук" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="h.jpg"  data-src="false" data-src-set="false"></div><!-- HERE -->

        <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square range-revamp-product-compact__image-hover range-revamp-product-compact__image-hover--active">
          <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="https://rostproject.com/files/kns2.jpg"><!-- HERE -->
        </div>
      </div>
    </a>


    <div class="range-revamp-product-compact__bottom-wrapper">
      <a href="#">
        <div class="range-revamp-compact-price-package">
          <div class="range-revamp-compact-price-package__additional-info">
            <div class="range-revamp-header-section">
              <div class="range-revamp-header-section__title--small">BERGENES БЕРГЕНЕС</div>
              <div class="range-revamp-header-section__description">
                <span class="range-revamp-header-section__description-text">Подставка для смартфона/планшетаLorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum doloribus, corrupti nisi distinctio in. Blanditiis totam, debitis atque aliquam.</span>
              </div>
            </div>
          </div>


        </div>
      </a>

    </div>
  </div>
</div>
</div>


<!-- BLOCK -->


  
<!-- BLOCK -->
<div class="pub__carousel-slide ifp6bjs">
  <div data-pub-child-placeholder="" class="">
    <div class="range-revamp-product-compact" data-ref-id="50458001" data-product-number="50458001" data-product-type="ART" data-price="149" data-currency="RUB" data-product-name="BERGENES БЕРГЕНЕС" data-product-compact="" data-cs-capture="">

  <a href="TEST" aria-label="BERGENES БЕРГЕНЕС - Подставка для смартфона/планшета">

    <div class="range-revamp-product-compact__image-wrapper">
      <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square">
        <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="BERGENES БЕРГЕНЕС Подставка для смартфона/планшета, бамбук" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="h.jpg"  data-src="false" data-src-set="false"></div><!-- HERE -->

        <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square range-revamp-product-compact__image-hover range-revamp-product-compact__image-hover--active">
          <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="https://rostproject.com/files/kns2.jpg"><!-- HERE -->
        </div>
      </div>
    </a>


    <div class="range-revamp-product-compact__bottom-wrapper">
      <a href="#">
        <div class="range-revamp-compact-price-package">
          <div class="range-revamp-compact-price-package__additional-info">
            <div class="range-revamp-header-section">
              <div class="range-revamp-header-section__title--small">BERGENES БЕРГЕНЕС</div>
              <div class="range-revamp-header-section__description">
                <span class="range-revamp-header-section__description-text">Подставка для смартфона/планшетаLorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum doloribus, corrupti nisi distinctio in. Blanditiis totam, debitis atque aliquam.</span>
              </div>
            </div>
          </div>


        </div>
      </a>

    </div>
  </div>
</div>
</div>


<!-- BLOCK -->


  
<!-- BLOCK -->
<div class="pub__carousel-slide ifp6bjs">
  <div data-pub-child-placeholder="" class="">
    <div class="range-revamp-product-compact" data-ref-id="50458001" data-product-number="50458001" data-product-type="ART" data-price="149" data-currency="RUB" data-product-name="BERGENES БЕРГЕНЕС" data-product-compact="" data-cs-capture="">

  <a href="TEST" aria-label="BERGENES БЕРГЕНЕС - Подставка для смартфона/планшета">

    <div class="range-revamp-product-compact__image-wrapper">
      <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square">
        <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="BERGENES БЕРГЕНЕС Подставка для смартфона/планшета, бамбук" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="h.jpg"  data-src="false" data-src-set="false"></div><!-- HERE -->

        <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square range-revamp-product-compact__image-hover range-revamp-product-compact__image-hover--active">
          <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="https://rostproject.com/files/kns2.jpg"><!-- HERE -->
        </div>
      </div>
    </a>


    <div class="range-revamp-product-compact__bottom-wrapper">
      <a href="#">
        <div class="range-revamp-compact-price-package">
          <div class="range-revamp-compact-price-package__additional-info">
            <div class="range-revamp-header-section">
              <div class="range-revamp-header-section__title--small">BERGENES БЕРГЕНЕС</div>
              <div class="range-revamp-header-section__description">
                <span class="range-revamp-header-section__description-text">Подставка для смартфона/планшетаLorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum doloribus, corrupti nisi distinctio in. Blanditiis totam, debitis atque aliquam.</span>
              </div>
            </div>
          </div>


        </div>
      </a>

    </div>
  </div>
</div>
</div>


<!-- BLOCK -->

  
<!-- BLOCK -->
<div class="pub__carousel-slide ifp6bjs">
  <div data-pub-child-placeholder="" class="">
    <div class="range-revamp-product-compact" data-ref-id="50458001" data-product-number="50458001" data-product-type="ART" data-price="149" data-currency="RUB" data-product-name="BERGENES БЕРГЕНЕС" data-product-compact="" data-cs-capture="">

  <a href="TEST" aria-label="BERGENES БЕРГЕНЕС - Подставка для смартфона/планшета">

    <div class="range-revamp-product-compact__image-wrapper">
      <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square">
        <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="BERGENES БЕРГЕНЕС Подставка для смартфона/планшета, бамбук" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="h.jpg"  data-src="false" data-src-set="false"></div><!-- HERE -->

        <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square range-revamp-product-compact__image-hover range-revamp-product-compact__image-hover--active">
          <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="https://rostproject.com/files/kns2.jpg"><!-- HERE -->
        </div>
      </div>
    </a>


    <div class="range-revamp-product-compact__bottom-wrapper">
      <a href="#">
        <div class="range-revamp-compact-price-package">
          <div class="range-revamp-compact-price-package__additional-info">
            <div class="range-revamp-header-section">
              <div class="range-revamp-header-section__title--small">BERGENES БЕРГЕНЕС</div>
              <div class="range-revamp-header-section__description">
                <span class="range-revamp-header-section__description-text">Подставка для смартфона/планшетаLorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum doloribus, corrupti nisi distinctio in. Blanditiis totam, debitis atque aliquam.</span>
              </div>
            </div>
          </div>


        </div>
      </a>

    </div>
  </div>
</div>
</div>


<!-- BLOCK -->

  
<!-- BLOCK -->
<div class="pub__carousel-slide ifp6bjs">
  <div data-pub-child-placeholder="" class="">
    <div class="range-revamp-product-compact" data-ref-id="50458001" data-product-number="50458001" data-product-type="ART" data-price="149" data-currency="RUB" data-product-name="BERGENES БЕРГЕНЕС" data-product-compact="" data-cs-capture="">

  <a href="TEST" aria-label="BERGENES БЕРГЕНЕС - Подставка для смартфона/планшета">

    <div class="range-revamp-product-compact__image-wrapper">
      <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square">
        <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="BERGENES БЕРГЕНЕС Подставка для смартфона/планшета, бамбук" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="h.jpg"  data-src="false" data-src-set="false"></div><!-- HERE -->

        <div class="range-revamp-aspect-ratio-image range-revamp-aspect-ratio-image--square range-revamp-product-compact__image-hover range-revamp-product-compact__image-hover--active">
          <img loading="lazy" class="range-revamp-aspect-ratio-image__image" alt="" sizes="(max-width: 400px) 80px, (max-width: 1450px) 160px, 300px" src="https://rostproject.com/files/kns2.jpg"><!-- HERE -->
        </div>
      </div>
    </a>


    <div class="range-revamp-product-compact__bottom-wrapper">
      <a href="#">
        <div class="range-revamp-compact-price-package">
          <div class="range-revamp-compact-price-package__additional-info">
            <div class="range-revamp-header-section">
              <div class="range-revamp-header-section__title--small">BERGENES БЕРГЕНЕС</div>
              <div class="range-revamp-header-section__description">
                <span class="range-revamp-header-section__description-text">Подставка для смартфона/планшетаLorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum doloribus, corrupti nisi distinctio in. Blanditiis totam, debitis atque aliquam.</span>
              </div>
            </div>
          </div>


        </div>
      </a>

    </div>
  </div>
</div>
</div>


<!-- BLOCK -->
</div>


<style type="text/css">
.pub__designSystemBase img{border-style:none;}
.pub__designSystemBase button{font-family:inherit;font-size:100%;line-height:1.5;margin:0;}
.pub__designSystemBase button{overflow:visible;}
.pub__designSystemBase button{text-transform:none;}
.pub__designSystemBase button,.pub__designSystemBase [type="button"]{-webkit-appearance:button;}
.pub__designSystemBase button::-moz-focus-inner,.pub__designSystemBase [type="button"]::-moz-focus-inner{border-style:none;padding:0;}
.pub__designSystemBase button:-moz-focusring,.pub__designSystemBase [type="button"]:-moz-focusring{outline:1px dotted ButtonText;}
.pub__designSystemBase *,.pub__designSystemBase *::before,.pub__designSystemBase *::after{box-sizing:inherit;outline:none;}
.pub__carousel-slide{max-width:100%;position:relative;flex-shrink:0;margin-left:.625rem;margin-right:.625rem;}
.ifp6bjs{flex-basis:calc(75% - 1.25rem);flex-shrink:0;}
@media (min-width:37.5em){
.ifp6bjs{flex-basis:calc(33.33% - 1.25rem);}
}
@media (min-width:75em){
.ifp6bjs{flex-basis:calc(25% - 1.25rem);}
}
.ifp6bjs:empty{display:none;}
img{border-style:none;}
button{font-family:inherit;font-size:100%;line-height:1.5;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button,[type="button"]{-webkit-appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,[type="button"]:-moz-focusring{outline:1px dotted ButtonText;}
div{margin:0;padding:0;}
*,*::before,*::after{box-sizing:inherit;outline:none;}
a,button{position:relative;}
a{color:#484848;background-color:transparent;}
a:hover{color:#111;text-decoration:underline;}
a:focus,a:active{color:#111;}
button{font-family:inherit;font-size:1rem;}
button{cursor:pointer;}
.js-focus-visible :focus:not(.focus-visible){outline:none;}


.range-revamp-svg-icon{display:inline-block;height:1.5rem;width:1.5rem;vertical-align:middle;fill:currentColor;-webkit-transition-property:fill,-webkit-transform;transition-property:fill,-webkit-transform;-o-transition-property:transform,fill;transition-property:transform,fill;transition-property:transform,fill,-webkit-transform;-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;}
.js-focus-visible :focus:not(.focus-visible){outline:none;}
.range-revamp-toggle-button{position:relative;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;text-decoration:none;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center;border:0;font-weight:700;font-size:.875rem;line-height:1.42857;padding:0;-webkit-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s;-webkit-transition-timing-function:cubic-bezier(.4,0,.4,1);-o-transition-timing-function:cubic-bezier(.4,0,.4,1);transition-timing-function:cubic-bezier(.4,0,.4,1);cursor:pointer;-webkit-box-sizing:border-box;box-sizing:border-box;background:transparent;border-radius:52px;vertical-align:top;}
.range-revamp-toggle-button:active,.range-revamp-toggle-button:focus,.range-revamp-toggle-button:hover{text-decoration:none;}
.range-revamp-toggle-button .range-revamp-svg-icon{-ms-flex-negative:0;flex-shrink:0;}
.range-revamp-toggle-button--transparent{background:transparent;font-size:.75rem;line-height:1.5;border-bottom:1px solid transparent;-webkit-transition:border-bottom .2s ease-in-out;-o-transition:border-bottom .2s ease-in-out;transition:border-bottom .2s ease-in-out;color:#484848;border-radius:0;}
.range-revamp-toggle-button--transparent:after{content:"";position:absolute;top:-.625rem;bottom:-.625rem;left:-.625rem;right:-.625rem;display:block;}
.range-revamp-toggle-button--transparent:active,.range-revamp-toggle-button--transparent:hover{border-color:currentColor;}
.range-revamp-toggle-button--transparent:active{color:#111;}
.range-revamp-toggle-button--transparent.range-revamp-toggle-button--icon-only{color:#929292;background:transparent;padding:.5rem;border-radius:50%;border-bottom:none;}
.range-revamp-toggle-button--transparent.range-revamp-toggle-button--icon-only:after{display:none;}
.range-revamp-toggle-button--transparent.range-revamp-toggle-button--icon-only:hover{color:#484848;}
.range-revamp-toggle-button--transparent.range-revamp-toggle-button--icon-only:active{color:#111;}
.range-revamp-toggle-button--transparent:disabled{color:#dfdfdf;cursor:default;}
.range-revamp-toggle-button--transparent:disabled:hover{border-color:transparent;}
.range-revamp-btn{position:relative;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;text-decoration:none;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center;border:0;font-weight:700;font-size:.875rem;line-height:1.42857;padding:0;-webkit-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s;-webkit-transition-timing-function:cubic-bezier(.4,0,.4,1);-o-transition-timing-function:cubic-bezier(.4,0,.4,1);transition-timing-function:cubic-bezier(.4,0,.4,1);cursor:pointer;-webkit-box-sizing:border-box;box-sizing:border-box;background:transparent;border-radius:52px;vertical-align:top;}
.range-revamp-btn .range-revamp-btn__copy{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transition-property:opacity,-webkit-transform;transition-property:opacity,-webkit-transform;-o-transition-property:opacity,transform;transition-property:opacity,transform;transition-property:opacity,transform,-webkit-transform;-webkit-transition-duration:.25s;-o-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:cubic-bezier(.4,0,.4,1);-o-transition-timing-function:cubic-bezier(.4,0,.4,1);transition-timing-function:cubic-bezier(.4,0,.4,1);}
.range-revamp-btn:active,.range-revamp-btn:focus,.range-revamp-btn:hover{text-decoration:none;}
.range-revamp-btn .range-revamp-svg-icon{-ms-flex-negative:0;flex-shrink:0;display:inline-block;height:1.5rem;width:1.5rem;vertical-align:middle;fill:currentColor;-webkit-transition-property:fill,-webkit-transform;transition-property:fill,-webkit-transform;-o-transition-property:transform,fill;transition-property:transform,fill;transition-property:transform,fill,-webkit-transform;-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;}
.range-revamp-btn__inner--icon-emphasised{-webkit-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s;-webkit-transition-timing-function:cubic-bezier(.4,0,.4,1);-o-transition-timing-function:cubic-bezier(.4,0,.4,1);transition-timing-function:cubic-bezier(.4,0,.4,1);position:relative;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:3.5rem;background:#0058a3;border-radius:52px;padding:0 1rem;color:#fff;}
.range-revamp-btn__inner--icon-emphasised.range-revamp-btn--small{padding:0 .5rem;}
.range-revamp-btn__inner--icon-emphasised:hover{background-color:#004f93;color:#fff;}
.range-revamp-btn__inner--icon-emphasised:active{background-color:#003e72;color:#fff;}
.range-revamp-btn__inner--icon-emphasised:disabled{background:#dfdfdf;color:#929292;cursor:default;}
.range-revamp-btn--small{height:2.5rem;padding:0 1.5rem;font-size:.75rem;line-height:1.33333;}
.range-revamp-btn:disabled>.range-revamp-btn__inner{background:#dfdfdf;color:#929292;cursor:default;}
.range-revamp-header-section__title--small{font-weight:700;text-transform:uppercase;color:#000;line-height:1.5;margin-bottom:.3125rem;}
.range-revamp-header-section__title--small{font-size:.75rem;}
.range-revamp-header-section__description{letter-spacing:0;font-weight:400;font-size:.75rem;line-height:1.5;color:#484848;}
.range-revamp-header-section__description-text:after{content:" ";}
@media (min-width:37.5em){
.range-revamp-header-section__description,.range-revamp-header-section__title--small{font-size:.875rem;line-height:1.42857;}
}
.range-revamp-price{display:inline-block;font-weight:700;color:#000;font-size:1rem;white-space:pre;}
.range-revamp-price__integer{line-height:1.1875;font-size:1.375rem;vertical-align:inherit;}
@media (max-width:37.5em){
.range-revamp-price__integer{font-size:1rem;}
}
.range-revamp-price__currency-symbol--trailing{unicode-bidi:bidi-override;font-size:.875rem;margin-left:.125rem;}
.range-revamp-price__currency-symbol--superscript{line-height:.9;font-size:.6875rem;vertical-align:text-top;}
@media (max-width:37.5em){
.range-revamp-price__currency-symbol--superscript{line-height:1.6;font-size:.625rem;}
}
.range-revamp-compact-price-package:last-child{margin-bottom:.9375rem;}
@media (max-width:37.5em){
.range-revamp-compact-price-package:last-child{margin-bottom:.625rem;}
}
.range-revamp-compact-price-package__price-wrapper{margin-bottom:.625rem;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.range-revamp-compact-price-package__price-wrapper .range-revamp-price .range-revamp-price__integer{line-height:.90909;}
.range-revamp-compact-price-package__additional-info{margin-top:2.0625rem;margin-bottom:.625rem;}
.range-revamp-compact-price-package__previous-price-wrapper{line-height:normal;margin-bottom:.3125rem;}
.range-revamp-aspect-ratio-image{width:100%;position:relative;height:auto;display:block;padding-bottom:75%;background:#f5f5f5;-webkit-box-sizing:border-box;box-sizing:border-box;}
.range-revamp-aspect-ratio-image__image{-o-object-fit:cover;object-fit:cover;width:100%;height:100%;position:absolute;left:0;top:0;font-family:"object-fit: cover;";color:transparent;}
.range-revamp-aspect-ratio-image--square{padding-bottom:100%;}
.range-revamp-product-compact{max-width:25rem;position:relative;padding-top:2.5rem;}
.range-revamp-product-compact__image-wrapper{position:relative;}
.range-revamp-product-compact:hover .range-revamp-header-section__title--small{text-decoration:underline;}
.range-revamp-product-compact a{color:#000;text-decoration:none;display:block;}
.range-revamp-product-compact a:active,.range-revamp-product-compact a:focus,.range-revamp-product-compact a:hover{color:#000;text-decoration:none;}
.range-revamp-product-compact__image-hover{-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;opacity:0;position:absolute;top:0;left:0;}
@media (hover:hover){
.range-revamp-product-compact:hover .range-revamp-product-compact__image-hover--active{opacity:1;}
}
.range-revamp-product-compact__bottom-wrapper{position:relative;}
.range-revamp-product-compact .range-revamp-product-compact__add-to-cart-button{display:none;-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;position:absolute;right:1.25rem;bottom:.3125rem;opacity:0;}
.range-revamp-product-compact .range-revamp-product-compact__add-to-cart-button>*{pointer-events:none;}
.range-revamp-product-compact__add-to-list-button{display:none;-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;position:absolute;right:0;top:0;opacity:0;}
.range-revamp-product-compact__add-to-list-button>*{pointer-events:none;}
body[data-list-available=true] .range-revamp-product-compact__add-to-list-button,body[data-shopping-available=true] .range-revamp-product-compact__add-to-cart-button{display:block;}
body[data-list-available=true] .range-revamp-product-compact:hover .range-revamp-product-compact__add-to-list-button,body[data-shopping-available=true] .range-revamp-product-compact:hover .range-revamp-product-compact__add-to-cart-button{opacity:1;}
@media (max-width:56.25em){
.range-revamp-product-compact{padding-bottom:1rem;}
.range-revamp-product-compact__add-to-list-button{opacity:1;}
body[data-shopping-available=true] .range-revamp-product-compact__add-to-cart-button{opacity:1;top:100%;right:0;height:2.5rem;}
}

.wrappersssss {
  overflow-x: scroll;
  display: flex;
  margin-left: 140px;
  margin-right: 40px;
}
@media screen and (max-width: 1000px){
    .wrappersssss{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
@media screen and (max-width: 920px){
    .wrappersssss{
        margin-top: 700px;
    }
}
</style>



{%endblock%}