{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/five_page.css' %}">
    </head>

<div class="wrapper">


<div class="all-content">
    

    <div class="title">
        <h2 class="title">6. Цвет и оформление спальни</h2>
    </div>
    <p class="text-subtitle">Последним — по порядку, но не по значению — фактором является цветовое решение интерьера и выбор декоративных элементов. Последним — по порядку, но не по значению — фактором является цветовое решение интерьера и выбор декоративных элементов.</p>

    <div class="img">
        <img src="https://www.prostanki.com/img/boardpics/2019_08/goyBQn4UJ2ZteHiIoOEU.jpg" alt="" class="img">
    </div>
</div>


<div class="content-3">
    <p class="text-title">Вам наверняка известно, что самыми расслабляющими цветами считаются голубой, зеленый и желтый. Есть также мнение, что меньше всего для спальни подходит фиолетовый. Что касается мебели, то все просто: не перегружайте комнату вещами. Чем их меньше, тем больше вероятность, что вы легко заснете и проснетесь в отличном настроении. Однако милые сердцу аксессуары, в меру украшающие вашу комнату, будут способствовать созданию уюта и выражению индивидуальности.</p>

    <div class="three-bloks">

        <div class="block">
            <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
            <a href="" class="p-text"> <p class="text">KRYDDSALVIA КРЮДДСАЛЬВИА Пододеяльник и 2 наволочки3 999 ₽</p></a>
            <li class="title">Декоративные элементы интерьера</li>
            <p class="subtitle">Стандартная кровать может заиграть новыми красками, если застелить ее ярким постельным бельем. Цветочные, графичные орнаменты или однотонные цвета постельных принадлежностей позволят освежить интерьер минимальными усилиями и создать в спальне дополнительное ощущение комфорта.</p>
            <a href="" class="button-href">Смотреть все посельное бельё</a>
        </div>

        <div class="block">
            <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
            <a href="" class="p-text"> <p class="text">KRYDDSALVIA КРЮДДСАЛЬВИА Пододеяльник и 2 наволочки3 999 ₽</p></a>
            <li class="title">Декоративные элементы интерьера</li>
            <p class="subtitle">Стандартная кровать может заиграть новыми красками, если застелить ее ярким постельным бельем. Цветочные, графичные орнаменты или однотонные цвета постельных принадлежностей позволят освежить интерьер минимальными усилиями и создать в спальне дополнительное ощущение комфорта.</p>
            <a href="" class="button-href">Смотреть все посельное бельё</a>
        </div>

        <div class="block">
            <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
            <a href="" class="p-text"> <p class="text">KRYDDSALVIA КРЮДДСАЛЬВИА Пододеяльник и 2 наволочки3 999 ₽</p></a>
            <li class="title">Декоративные элементы интерьера</li>
            <p class="subtitle">Стандартная кровать может заиграть новыми красками, если застелить ее ярким постельным бельем. Цветочные, графичные орнаменты или однотонные цвета постельных принадлежностей позволят освежить интерьер минимальными усилиями и создать в спальне дополнительное ощущение комфорта. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nam magni numquam maiores, placeat cumque maxime optio provident aut accusamus minus dolores vero, repellendus mollitia, fugiat temporibus nesciunt obcaecati. Qui!
            Autem, voluptatibus, optio. Quasi nam iure maxime distinctio numquam repellendus possimus doloribus, veritatis vel laboriosam quisquam, reiciendis, necessitatibus enim id, libero! Blanditiis omnis repellat nesciunt, inventore. Voluptatibus nobis voluptates, modi. </p>
            <a href="" class="button-href">Смотреть все посельное бельё</a>
        </div>


    </div>
    <hr style="margin-top: 50px; background-color: #333;">

    <div class="row">

        <a href="">
            <div class="cardd col-md-4 col-sm-6 col-12">
                <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
                <a href="" class="text-href">
                    Впустите в спальню свет
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </div>
        </a>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href="">
                <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
                <a href="" class="text-href">
                    Впустите в спальню свет
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href="">
                <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
                <a href="" class="text-href">
                    Впустите в спальню свет
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href="">
                <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
                <a href="" class="text-href">
                    Впустите в спальню свет
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href="">
                <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
                <a href="" class="text-href">
                    Впустите в спальню свет
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href="">
                <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
                <a href="" class="text-href">
                    Впустите в спальню свет
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href="">
                <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
                <a href="" class="text-href">
                    Впустите в спальню свет
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href="">
                <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
                <a href="" class="text-href">
                    Впустите в спальню свет
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

        <div class="cardd col-md-4 col-sm-6 col-12">
            <a href="">
                <img src="https://www.ikea.com/images/b5/d7/b5d7af6bace93c22a6ce2985a6c87c19.jpg?f=m" alt="" class="img">
                <a href="" class="text-href">
                    Впустите в спальню свет
                </a> <br>
                <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12l-8-8-1.414 1.414L16.173 11H4v2h12.172l-5.587 5.587L12 20l8-8z">  
                    </path>
                </svg>
            </a>
        </div>

    </div>
</div>
</div>
{%endblock%}