{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/five_blocks.css' %}">
    </head>
<div class="wrapper">

    <h3 class="titles">Title Lorem, ipsum dolor.</h3>
    <div class="blocks-1">
        <div class="image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAO7uXAmEcPJ1aCdgXK1dR4QPDHkcgQOny7g&usqp=CAU" alt="" class="image">
        </div>
        <div class="blocks-1-text">
            <h3 class="title">Title Sub title</h3>
            <p class="sub-title-blocks">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta perferendis consectetur doloremque harum delectus architecto dolores mollitia enim quo fugit odio molestias veritatis possimus tenetur culpa, omnis accusamus amet dolorem. Blanditiis ratione neque soluta repellat, incidunt deserunt, laudantium? Accusantium, pariatur.</p>
        </div>
    </div>

    <h3 class="titles">Title Lorem, ipsum dolor.</h3>
    <div class="blocks-2">
        <div class="blocks-2-text">
            <h3 class="title">Title Sub title</h3>
            <p class="sub-title-blocks">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta perferendis consectetur doloremque harum delectus architecto dolores mollitia enim quo fugit odio molestias veritatis possimus tenetur culpa, omnis accusamus amet dolorem. Blanditiis ratione neque soluta repellat, incidunt deserunt, laudantium? Accusantium, pariatur.</p>
        </div>
        <div class="image">
            <img src="https://i.pinimg.com/736x/7c/fe/38/7cfe386d7554f786fc4590a7b7b24f60.jpg" alt="" class="image">
        </div>
    </div>

    <h3 class="titles">Title Lorem, ipsum dolor.</h3>
    <div class="blocks-1">
        <div class="image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAO7uXAmEcPJ1aCdgXK1dR4QPDHkcgQOny7g&usqp=CAU" alt="" class="image">
        </div>
        <div class="blocks-1-text">
            <h3 class="title">Title Sub title</h3>
            <p class="sub-title-blocks">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta perferendis consectetur doloremque harum delectus architecto dolores mollitia enim quo fugit odio molestias veritatis possimus tenetur culpa, omnis accusamus amet dolorem. Blanditiis ratione neque soluta repellat, incidunt deserunt, laudantium? Accusantium, pariatur.</p>
        </div>
    </div>

    <h3 class="titles">Title Lorem, ipsum dolor.</h3>
    <div class="blocks-2">
        <div class="blocks-2-text">
            <h3 class="title">Title Sub title</h3>
            <p class="sub-title-blocks">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta perferendis consectetur doloremque harum delectus architecto dolores mollitia enim quo fugit odio molestias veritatis possimus tenetur culpa, omnis accusamus amet dolorem. Blanditiis ratione neque soluta repellat, incidunt deserunt, laudantium? Accusantium, pariatur.</p>
        </div>
        <div class="image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAO7uXAmEcPJ1aCdgXK1dR4QPDHkcgQOny7g&usqp=CAU" alt="" class="image">
        </div>
    </div>

    <h3 class="titles">Title Lorem, ipsum dolor.</h3>
    <div class="blocks-1">
        <div class="image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAO7uXAmEcPJ1aCdgXK1dR4QPDHkcgQOny7g&usqp=CAU" alt="" class="image">
        </div>
        <div class="blocks-1-text">
            <h3 class="title">Title Sub title</h3>
            <p class="sub-title-blocks">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta perferendis consectetur doloremque harum delectus architecto dolores mollitia enim quo fugit odio molestias veritatis possimus tenetur culpa, omnis accusamus amet dolorem. Blanditiis ratione neque soluta repellat, incidunt deserunt, laudantium? Accusantium, pariatur.</p>
        </div>
    </div>

</div>

{%endblock%}