
{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/four_page.css' %}">
    </head>
<div class="wrapper">

<div class="all-content">
    <div class="title">
        <h1 class="title">Сборка и установка</h1>
    </div>
    <p class="text-subtitle1">Компания ИКЕА заботится о безопасности сотрудников и покупателей. <a href="" class="text-subtitle1">Подробнее</a></p>
    <p class="text-subtitle2">Всю мебель ИКЕА легко собрать самостоятельно, достаточно лишь воспользоваться инструкцией прилагаемой к каждой упаковке товара ИКЕА. Мы подготовили для вас короткие видео-инструкции о том, как самостоятельно собрать некоторые мебельные системы ИКЕА.</p>

    <a href="" class="see-more">Узнать больше</a>
    <hr style="margin-top: 70px; margin-bottom: 40px; background: #333;">
</div>

<div class="three-block">
    <div class="blocks">
        <h3 class="title">Сервис Руки/Hands.ru</h3>
        <p class="text-subtitle">Если хотите доверить сборку проверенным специалистам и не тратить время на поход в магазин для заказа услуги, а также иметь гарантию на услуги. Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Eos omnis explicabo praesentium pariatur odit architecto dignissimos vitae ut autem quas asperiores natus dolores, magnam ad possimus! Obcaecati, atque consequuntur illum aliquid a sequi nulla fugit, maxime molestias molestiae aliquam excepturi. Consectetur, repudiandae obcaecati molestias nulla porro illo sequi nesciunt quos quibusdam nemo optio harum labore ipsam commodi reprehenderit in. Accusamus, fuga ullam architecto aspernatur obcaecati saepe, nostrum cum quaerat voluptas vero blanditiis nulla enim perspiciatis dolore quo non, maxime. Dolor porro eveniet doloremque quos consectetur perferendis nihil sit debitis laudantium? Asperiores, in, ab! Praesentium numquam delectus, quod quo optio cum.</p>
        <a href="" class="see-more">Узнать больше</a>
    </div>
    
    <div class="blocks">
        <h3 class="title">Сервис Руки/Hands.ru</h3>
        <p class="text-subtitle">Если хотите доверить сборку проверенным специалистам и не тратить время на поход в магазин для заказа услуги, а также иметь гарантию на услуги.</p>
        <a href="" class="see-more">Узнать больше</a>
    </div>

    <div class="blocks">
        <h3 class="title">Сервис Руки/Hands.ru</h3>
        <p class="text-subtitle">Если хотите доверить сборку проверенным специалистам и не тратить время на поход в магазин для заказа услуги, а также иметь гарантию на услуги.</p>
        <a href="" class="see-more">Узнать больше</a>
    </div>
</div>
</div>
{%endblock%}