{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/8_page.css' %}">
    </head>

<div class="wrapper">


<div class="all-content">
    <div class="title">
        <h2 class="title">НОВОСТИ</h2>
    </div>
    <div class="content">
        <img src="https://www.ikea.com/images/bd/47/bd4742d9e3cec56242c1e3f305a3b7ff.png?f=xs" alt="" class="img">
        <p class="text">Мы поддерживаем разумное потребление и хотим, чтобы мебель ИКЕА оставалась с вами как можно дольше. Но если вы решили обновить интерьер и не знаете, куда деть старую мебель, мы подскажем, как дать ей вторую жизнь!</p>
    </div>
</div>
<h3 class="title">НОВОСТИ</h3>
<div class="row">

    {%for new in news%}
    <div class="cardd col-md-4 col-sm-6 col-12">
        <img src="{{ new.img.url }}" alt="" class="img">
        <h5 class="title-s">{{new.title}}</h5>
        <p class="text-subtitle">{{new.sub_title|truncatechars:"100"}}</p>
        <a href="" class="hr">
            <p class="hr">Узнать подробнее</p>
        </a>
    </div>
    {%endfor%}
</div>
</div>
{%endblock%}