{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    </head>

<div class="wrapper">


<div class="main">

<div class="all-content">
<section class="img-section">
<div class="two-block">
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
    
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
</div>
</section>
<section class="img-section">
<div class="two-block">
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
    
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
</div>
</section>








</div>

<div class="menu">

    <h1>Name Product</h1><br>
    <h4><strong>Подробнее о товаре</strong></h4>
    <p>
Чтобы получить материал для изготовления этого ковра, потребовалось переработать примерно 740 пластиковых бутылок объемом 0,5 л. Превращение отходов в ресурсы делает нас еще на шаг ближе к более экологичному будущему.
Чтобы получить материал для изготовления этого ковра, потребовалось переработать примерно 740 пластиковых бутылок объемом 0,5 л. Превращение отходов в ресурсы делает нас еще на шаг ближе к более экологичному будущему.
Чтобы получить материал для изготовления этого ковра, потребовалось переработать примерно 740 пластиковых бутылок объемом 0,5 л. Превращение отходов в ресурсы делает нас еще на шаг ближе к более экологичному будущему.
</p>
<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
        aria-controls="collapseOne1">
    <div class="card-header" role="tab" id="headingOne1">

        <h5 class="mb-0">
          Материалы и уход <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
  
    </div>
        </a>

    <!-- Card body -->
    <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body">
Чтобы получить материал для изготовления этого ковра, потребовалось переработать примерно 740 пластиковых бутылок объемом 0,5 л. Превращение отходов в ресурсы делает нас еще на шаг ближе к более экологичному будущему.
      </div>
    </div>

  </div><br>
  <!-- Accordion card -->





  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
    <div class="card-header" role="tab" id="headingTwo2">

        <h5 class="mb-0">
          Экологическая информация<i class="fas fa-angle-down rotate-icon"></i>
        </h5>
    </div>
          </a>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </div>
    </div>

  </div><br>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
         <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
    <div class="card-header" role="tab" id="headingThree3">

      <h5 class="mb-0">
Информация об упаковке <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
    </div>
    </a>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </div>
    </div>

  </div><br>
  <!-- Accordion card -->


  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne4" aria-expanded="true"
        aria-controls="collapseOne4">
    <div class="card-header" role="tab" id="headingOne4">
        <h5 class="mb-0">
         Инструкция по сборке и документы<i class="fas fa-angle-down rotate-icon"></i>
        </h5>
  </div>
      </a>

    <!-- Card body -->
    <div id="collapseOne4" class="collapse" role="tabpanel" aria-labelledby="headingOne4" data-parent="#accordionEx">
      <div class="card-body">
Чтобы получить материал для изготовления этого ковра, потребовалось переработать примерно 740 пластиковых бутылок объемом 0,5 л. Превращение отходов в ресурсы делает нас еще на шаг ближе к более экологичному будущему.
      </div>
    </div>

  </div><br>
  <!-- Accordion card -->



  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne5" aria-expanded="true"
        aria-controls="collapseOne4">
    <div class="card-header" role="tab" id="headingOne5">
        <h5 class="mb-0">
        Чтобы получить материал для изготовления<i class="fas fa-angle-down rotate-icon"></i>
        </h5>
  </div>
      </a>

    <!-- Card body -->
    <div id="collapseOne5" class="collapse" role="tabpanel" aria-labelledby="headingOne5" data-parent="#accordionEx">
      <div class="card-body">
Чтобы получить материал для изготовления этого ковра, потребовалось переработать примерно 740 пластиковых бутылок объемом 0,5 л. Превращение отходов в ресурсы делает нас еще на шаг ближе к более экологичному будущему.
      </div>
    </div>

  </div>
  <!-- Accordion card -->

</div>
<!-- Accordion wrapper -->

</div>

</div>

</div>

<div class="wrapper">
    <div class="content" >
    <hr>
    <div class="text-content one">
    <h2><strong>Как связаться с ИКЕА</strong></h2>
    <p>
        В связи с высокой загрузкой время ожидания во всех каналах увеличено. Приносим извинения за доставленные неудобства.

Пожалуйста, воспользуйтесь ответами на часто задаваемые вопросы.
    </p>
    </div>
    <hr>
    <div class="text-conten two">
    <h2><strong>Узнать об услугах ИКЕА</strong></h2>
    <p>Мы предоставляем услуги по доставке, самовывозу, сборке и установке, а также по планированию, составлению дизайн проектов и услуги по переработке. Ознакомьтесь с подробной информацией об услугах и правилах их предоставления.</p>
     <button class="btn">Услуги IKEA</button><br>
    </div>

    <hr>

    <div class="text-content two">
    <h2><strong>Узнать как совершить покупку</strong></h2>
    <p>Вы можете приобрести товары в ближайшем к Вам магазине или дизайн-студии или совершить покупку онлайн.
Воспользуйтесь подсказками о том, как купить товар.</p>
     <button class="btn">Купить онлайн</button><br>
     <button class="btn">Купить в магазине</button><br>
    </div>
    <hr>

    <div class="text-content two">
    <h2><strong>Отследить статус заказа</strong></h2>
    <p>Вы можете самостоятельно проверить статус Вашего заказа, перейдя по ссылке ниже. Обращаем внимание, что статус заказа можно проверить не ранее следующего дня после его размещения. Номер для отслеживания указан на бланке заказа.</p>
     <button class="btn">Проверить статус заказа</button><br>
     <button class="btn">Больше информации о получении</button><br>
    </div>
    <hr>


    <div class="text-conten two">
    <h2><strong>Отменить заказ или внести изменения</strong></h2>
    <p>Невозможно внести следующие изменения в оплаченный заказ: добавить, убрать или заменить товары, изменить адрес доставки.

Если вы хотите отменить ранее оплаченный заказ и оформить новый, воспользуйтесь инструментом для отмены..</p>
     <button class="btn">Отменить заказ</button>
    </div>  
<hr>

    <div class="text-conten two">
    <h2><strong>Ремонт бытовой техники</strong></h2>
    <p>Ознакомьтесь с порядком действий в случае неполадок с бытовой техникой.</p>
     <button class="btn">Узнать больше</button>
    </div>  
    <hr>

    <div class="text-conten two">
    <h2><strong>Вопросы и ответы</strong></h2>
    <p>Ответы на часто задаваемые вопросы об ИКЕА.</p>
     <button class="btn">Найти вопрос</button>
    </div>  


    </div>
</div>

<style type="text/css">
    .btn {
    border-radius: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 20px;

}
</style>

{%endblock%}