{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/8_page.css' %}">
    </head>

<div class="wrapper">


<div class="all-content">
    <div class="title">
        <h2 class="title">ПРОЕКТЫ</h2>
    </div>
    <div class="content">
        <img src="{% static 'img/bblock.jpg' %}" alt="" class="img">
        <p class="text">Мы поддерживаем разумное потребление и хотим, чтобы мебель ИКЕА оставалась с вами как можно дольше. Но если вы решили обновить интерьер и не знаете, куда деть старую мебель, мы подскажем, как дать ей вторую жизнь!</p>
    </div>
</div>
<h3 class="title">Проекты</h3>
<div class="row">

    {%for project in projects%}
    <div class="cardd col-md-3 col-sm-4 col-12">
        <img src="{{ project.img.url }}" alt="" class="img">
        <h5 class="title-s">{{project.title}}</h5>
        <p class="text-subtitle">{{project.sub_title|truncatechars:"100"}}</p>
        <a href="{% url 'new_detail' project.id %}" class="hr">
            <p class="hr">Узнать подробнее</p>
        </a>
    </div>
    {%endfor%}
</div>
</div>
{%endblock%}