{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/second_page.css' %}">
    </head>

<div class="wrapper">


<div class="title">
    <h1 class="title">Компания ТОО «Hasanat group» бразована в 2011 году и зарекомендовала себя как лидирующий отечественный производитель в сфере очистки и перекачки сточных вод в Республике Казахстан.</h1>
</div>
<p class="subtitle">
    
    Наша деятельность охватывает три направления:<br><br>
• Очистка хозяйственно-бытового стока<br>
• Очистка поверхностных вод<br>
• Очистка производственных сточных вод
</p>

<video controlslist="nodownload" controls="" class="video" disablepictureinpicture="" src="{% static 'img/videokns.mp4' %}" autoplay="" muted="" loop="" ></video>


<section>
<div class="title">
    <h3 class="title">Наша миссия</h3>
</div>
<p class="min-subtitle">
    Наша компания вносит посильный вклад в защиту гидросферы от антропогенного воздействия человека. При этом, мы стараемся минимизировать издержки заказчика на строительство и эксплуатацию очистных сооружений. При участии заказчика мы определим наиболее подходящую схему канализования от накопления сточных вод до сброса очищенной воды в водоем рыбохозяйственного назначения. Разработаем эффективную технологию очистки сточных вод. Подберем технологическое оборудование, отвечающее всем требованиям заказчика.
</p>


<div class="two-block">
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
    
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
</div>
</section>

<section>
<div class="title">
    <h3 class="title">Опыт и знания наших технических специалистов воплотились в десятках запущенных комплексов очистки сточных вод, на которых реализованы следующие технологии</h3>
</div>
<p class="min-subtitle">
• Классическая система аэротенк-вторичный отстойник (ASM)<br>
• Дисковые биофильтры<br>
• Мембранный биореактор (MBBR)<br>
• Биотенки (аэротенки с прикрепленной биомассой)<br>
</p>


<div class="two-block">
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
    
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
</div>
</section>

<section>
<div class="title">
    <h3 class="title">Наша философия</h3>
</div>
<p class="min-subtitle">
Понимая, что для заказчика, особенно частного инвестора, строительство очистных сооружений это всегда издержки, мы предлагаем оптимальное решение, разработанное в результате тщательного изучения проблемы и направленное на сокращение издержек и повышения рентабельности основного производства. Это особенно актуально, когда речь идет об очистке производственных сточных вод.<br><br>

Мы убеждены, что не бывает готовых универсальных решений. Каждая задача уникальна и требует индивидуального подхода. Индивидуальный подход к решению задачи – наше профессиональное кредо.<br><br>

Мы одинаково профессионально и внимательно подходим к решению задач, как автономной канализации частного дома, так и городских очистных сооружений.

</p>


<div class="two-block">
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
    
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
</div>
</section>

<section>
<div class="title">
    <h3 class="title">Составляющими успеха в очистке сточных вод мы считаем:</h3>
</div>
<p class="min-subtitle">

• грамотно разработанную технологию<br>
• расчет сооружений и оборудования<br>
• выбор производителя оборудования

</p>


<div class="two-block">
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
    
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
</div>
</section>

<section>
<div class="title">
    <h3 class="title">Наши аргументы в пользу выбора нашей компании.</h3>
</div>
<p class="min-subtitle">
1. Мы не заинтересованы в продаже Вам какого-то конкретного оборудования – мы заинтересованы в решении Вашей проблемы.<br>
2. Мы предлагаем комплексное решение Ваших задач от первоначальной консультации до монтажа и пусконаладки.<br>
3. Наш опыт, полученный в результате запуска и дальнейшего сопровождения более десятка наших объектов<br>
4. Ответственность нашей компании выражается в готовности заключить договор на эксплуатацию или обслуживание сданного объекта.<br>
5. 2 года гарантии на оборудование<br>
6. Собственное производство
</p>


<div class="two-block">
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
    
    <div class="img">
        <img src="{% static 'img/bblock.jpg' %}" alt="">
    </div>
</div>
</section>


</div>



{%endblock%}