{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/second_page.css' %}">
    </head>

<div class="wrapper">


<div class="title">
    <h1 class="title">Руководства к действию: <br>экологичный образ жизни</h1>
</div>
<p class="subtitle">Сейчас как никогда просто придерживаться здорового и экологичного стиля жизни. В этих руководствах к действию вас ждут практические советы, как сделать жизнь дома экологичнее, чтобы сэкономить и деньги, и драгоценные природные ресурсы.</p>

<video controlslist="nodownload" controls="" class="video" disablepictureinpicture="" src="https://www.ikea.com/ext/ingkadam/m/57f1aa47debc19e8/original/21_IKEA_sustainability_TrailerFilm_20s_16x9_offline_v06_EL.mp4" autoplay="" muted="" loop=""></video>


<section>
<div class="title">
    <h3 class="title">Как выбрать более экологичные материалы</h3>
</div>
<p class="min-subtitle">Мебель и аксессуары могут существенно изменить обстановку дома. Но как на мир за его пределами влияют определенные материалы? Узнайте больше о возобновляемых и пригодных для вторичной переработки материалах.</p>


<div class="two-block">
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
    
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
</div>
</section>

<section>
<div class="title">
    <h3 class="title">Как выбрать более экологичные материалы</h3>
</div>
<p class="min-subtitle">Мебель и аксессуары могут существенно изменить обстановку дома. Но как на мир за его пределами влияют определенные материалы? Узнайте больше о возобновляемых и пригодных для вторичной переработки материалах.</p>


<div class="two-block">
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
    
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
</div>
</section>

<section>
<div class="title">
    <h3 class="title">Как выбрать более экологичные материалы</h3>
</div>
<p class="min-subtitle">Мебель и аксессуары могут существенно изменить обстановку дома. Но как на мир за его пределами влияют определенные материалы? Узнайте больше о возобновляемых и пригодных для вторичной переработки материалах.</p>


<div class="two-block">
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
    
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
</div>
</section>

<section>
<div class="title">
    <h3 class="title">Как выбрать более экологичные материалы</h3>
</div>
<p class="min-subtitle">Мебель и аксессуары могут существенно изменить обстановку дома. Но как на мир за его пределами влияют определенные материалы? Узнайте больше о возобновляемых и пригодных для вторичной переработки материалах.</p>


<div class="two-block">
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
    
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
</div>
</section>

<section>
<div class="title">
    <h3 class="title">Как выбрать более экологичные материалы</h3>
</div>
<p class="min-subtitle">Мебель и аксессуары могут существенно изменить обстановку дома. Но как на мир за его пределами влияют определенные материалы? Узнайте больше о возобновляемых и пригодных для вторичной переработки материалах.</p>


<div class="two-block">
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
    
    <div class="img">
        <img src="https://www.ikea.com/ext/ingkadam/m/476c54bc0cde692b/original/PH175583-crop001.jpg?f=m" alt="">
    </div>
</div>
</section>



</div>

{%endblock%}