{% extends 'main/base.html' %} 
{% load static %}
{% block content %} 
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/seven_page.css' %}">
    </head>

<div class="wrapper">




<div class="all-content">
    <div class="title">
        <h3 class="title">Прием в переработку текстиля</h3>
    </div>
    <p class="text-title">
        На производство текстиля тратится очень много воды и химических удобрений. Его повторное использование и переработка позволяют снизить влияние на окружающую среду, а также уменьшить количество мусора на свалках.
Пункты приема текстиля доступны во всех магазинах ИКЕА, кроме дизайн-студий.
    </p>
    <img src="https://www.ikea.com/images/f3/ce/f3ce3e9253dd78cc9233ba4c3dab0d5e.jpg?f=xxxl" alt="" class="img">
</div>


<h5 class="rules">Правила приема</h5>


<div class="d">
    <h5 class="we">Мы принимаем</h5>
    <ul class="uli">
        <li class="ili">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, odio.</li>
        <li class="ili">Текстильные салфетки</li>
        <li class="ili">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sit pariatur sunt, iure expedita incidunt repellat sapiente aut quaerat tenetur, molestiae inventore natus adipisci alias enim quae voluptates! Porro, excepturi!</li>
        <li class="ili">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Inventore tenetur labore asperiores nemo nihil!фетки</li>
        <li class="ili">Текстильные салфетки</li>
        <li class="ili">Сложите вещи в пакет и плотно закройте его (будет лучше, если ваш пакет будет бумажным, но и полиэтиленовые пакеты будут обязательно переработаны)</li>
    </ul>
</div>


<div class="d">
    <h5 class="we">Мы принимаем</h5>
    <ul class="uli">
        <li class="ili">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, odio.</li>
        <li class="ili">Текстильные салфетки</li>
        <li class="ili">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sit pariatur sunt, iure expedita incidunt repellat sapiente aut quaerat tenetur, molestiae inventore natus adipisci alias enim quae voluptates! Porro, excepturi!</li>
        <li class="ili">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Inventore tenetur labore asperiores nemo nihil!фетки</li>
        <li class="ili">Текстильные салфетки</li>
        <li class="ili">Сложите вещи в пакет и плотно закройте его (будет лучше, если ваш пакет будет бумажным, но и полиэтиленовые пакеты будут обязательно переработаны)</li>
    </ul>
</div>


<div class="d">
    <h5 class="we">Мы принимаем</h5>
    <ul class="uli">
        <li class="ili">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, odio.</li>
        <li class="ili">Текстильные салфетки</li>
        <li class="ili">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sit pariatur sunt, iure expedita incidunt repellat sapiente aut quaerat tenetur, molestiae inventore natus adipisci alias enim quae voluptates! Porro, excepturi!</li>
        <li class="ili">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Inventore tenetur labore asperiores nemo nihil!фетки</li>
        <li class="ili">Текстильные салфетки</li>
        <li class="ili">Сложите вещи в пакет и плотно закройте его (будет лучше, если ваш пакет будет бумажным, но и полиэтиленовые пакеты будут обязательно переработаны)</li>
    </ul>
</div>


<div class="text">
    <div class="title">
        <h6 class="title">Куда отправится собранный текстиль?</h6>
    </div>
    <p class="subtitle">Весь собранный текстиль будет передан фонду «Второе дыхание». Благотворительный фонд «Второе дыхание» – крупнейшая в России некоммерческая организация, осуществляющая приём, перераспределение и переработку текстиля, бывшего в употреблении. С 2015 года фонд развивает инфраструктуру приёма ненужной одежды, которой пользуются более 200 тысяч человек. Так фонд снижает нагрузку на экологию городов и оказывает вещевую помощь людям из социально незащищенных групп, проводит профилактику выгорания сотрудниц домов престарелых, интернатов для людей с инвалидностью, приютов в регионах России.</p>
</div>


<div class="text">
    <div class="title">
        <h6 class="title">Куда отправится собранный текстиль?</h6>
    </div>
    <p class="subtitle">Весь собранный текстиль будет передан фонду «Второе дыхание». Благотворительный фонд «Второе дыхание» – крупнейшая в России некоммерческая организация, осуществляющая приём, перераспределение и переработку текстиля, бывшего в употреблении. С 2015 года фонд развивает инфраструктуру приёма ненужной одежды, которой пользуются более 200 тысяч человек. Так фонд снижает нагрузку на экологию городов и оказывает вещевую помощь людям из социально незащищенных групп, проводит профилактику выгорания сотрудниц домов престарелых, интернатов для людей с инвалидностью, приютов в регионах России.
    </p>
</div>
<hr style="background-color: #ddd; margin: 70px 0 70px 0;">
<h4 class="title">Заботимся о людях и планете</h4>




<div class="all-href">

    <div class="all">
        <a href="" class="href">
            <p class="text-href">Отдайте мебель на благотварительность</p>
        
            <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon pub__chunky-header__icon" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6 12l-5.785 5.786L8.4 16.372l4.371-4.371-4.37-4.372 1.414-1.414L15.6 12z"></path>
            </svg>
        </a>
    </div>
    <hr style="background-color: #ddd; margin: 40px 0 40px 0;">


    <div class="all">
        <a href="" class="href">
            <p class="text-href">Отдайте мебель на благотварительность</p>
        
            <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon pub__chunky-header__icon" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6 12l-5.785 5.786L8.4 16.372l4.371-4.371-4.37-4.372 1.414-1.414L15.6 12z"></path>
            </svg>
        </a>
    </div>
    <hr style="background-color: #ddd; margin: 40px 0 40px 0;">


    <div class="all">
        <a href="" class="href">
            <p class="text-href">Отдайте мебель на благотварительность</p>
        
            <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon pub__chunky-header__icon" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6 12l-5.785 5.786L8.4 16.372l4.371-4.371-4.37-4.372 1.414-1.414L15.6 12z"></path>
            </svg>
        </a>
    </div>
    <hr style="background-color: #ddd; margin: 40px 0 40px 0;">


    <div class="all">
        <a href="" class="href">
            <p class="text-href">Отдайте мебель на благотварительность</p>
        
            <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon pub__chunky-header__icon" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6 12l-5.785 5.786L8.4 16.372l4.371-4.371-4.37-4.372 1.414-1.414L15.6 12z"></path>
            </svg>
        </a>
    </div>
    <hr style="background-color: #ddd; margin: 40px 0 40px 0;">


    <div class="all">
        <a href="" class="href">
            <p class="text-href">Отдайте мебель на благотварительность</p>
        
            <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon pub__chunky-header__icon" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6 12l-5.785 5.786L8.4 16.372l4.371-4.371-4.37-4.372 1.414-1.414L15.6 12z"></path>
            </svg>
        </a>
    </div>
    <hr style="background-color: #ddd; margin: 40px 0 40px 0;">


    <div class="all">
        <a href="" class="href">
            <p class="text-href">Отдайте мебель на благотварительность</p>
        
            <svg focusable="false" viewBox="0 0 24 24" class="pub__svg-icon pub__chunky-header__icon" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6 12l-5.785 5.786L8.4 16.372l4.371-4.371-4.37-4.372 1.414-1.414L15.6 12z"></path>
            </svg>
        </a>
    </div>
</div>





</div>
{%endblock%}